# Backend settings
SECRET_KEY=70921cf8a0e86a079e0a6d0c6d7a421b
POSTGRES_SERVER=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=pii_platform

# Redis settings
REDIS_HOST=localhost
REDIS_PORT=6379

# Frontend
VITE_API_BASE_URL=http://localhost:8002
